#include "resource.h"

IDB_RANAS     BITMAP "ranas.bmp"
IDB_CARACOLES BITMAP "caracoles.bmp"
IDB_RABAS     BITMAP "rabas.bmp"
IDB_MERLUZA   BITMAP "merluza.bmp"
IDB_GAMBAS    BITMAP "gambas.bmp"
IDB_CALAMARETTIS BITMAP "calamarettis.bmp"
IDB_MONDONGO     BITMAP "mondongo.bmp"
IDB_QUINTOS   BITMAP "quintos.bmp"
IDB_RINONES    BITMAP "rinones.bmp"